body{
    background-color: rgba(115, 0, 108, 0.265);
}
nav{
    background-color: rgb(235, 118, 241);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav .logo a{text-decoration: none;}
    color: moccasin;
    font-size: 35px;
    font-weight: 600;
